.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--main-text);
  margin-bottom: 12px;
}
.error {
  font-family: 'Montserrat Medium';
  font-weight: 600;
  margin-top: 5px;
  font-size: 10px;
  color: var(--accent-color);
}
