.header {

    padding-top: 20px;
    padding-bottom: 20px;
  
    background-color: #F5F6FB;
    border-bottom: 1px solid #E2E3E5;
  
  }
  
  .container {
    margin: 0 auto;
    padding: 0 20px;
  }
  
  
  .header__nav {
    display: flex;
    align-items: center;
  }
  
  .menu__container {

    margin: 0 auto;
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    z-index: 10;
    
  }
  
  
  .menu__container_list_item {
    padding: 28px 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #E2E3E5;
  }

  .list_item_current {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.02em;
  color: var(--main-text);
  
  }
  
  .list_item_current::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;
    height: 1px;
    background-color: var(--accent-color);
    display: block;
  }

  .list_item_text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.02em;
  
    color: var(--main-text);
  }
  
  .line {
      height: 1px;
      width: 100%;
      background-color: #E2E3E5;
  }
  

  .iconButton {
      margin-left: auto;
      position: relative;
  }

  .iconButton::before {
    content: '';
    position:absolute;
    width: 1px;
    height: 68px;
    top: -20px;
    left: -20px;
    transform: rotate(180deg);
    background-color: #E2E3E5;
   }

  .iconButtonLogOut {
      margin-top: 18px;
  }
  
   @media (min-width: 768px) {
    .mobileWrapper{
      display:none;
    }
   }
  
  
   @media (max-width: 767px) {
  .desktopWrapper{
    display: none;
  }
   }
  
  
  
  