.sun {
  width: 20px;
  height: 20px;
  transition: 0.3s;
  fill: var(--accent-color);
  cursor: pointer;
}

.sun:hover,
.sun:focus {
  transform: scale(1.1);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  transition: 0.3s;
  fill: var(--fill-color);
  cursor: pointer;
}

.moon:hover,
.moon:focus {
  transform: scale(1.1);
  transition: 0.3s;
}

.header {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .header {
    margin-left: 30px;
  }
}

@media (min-width: 1280px) {
  .header {
    margin-left: 20px;
  }
}
