.sun {
  width: 20px;
  height: 20px;
  transition: 0.8s;
  fill: var(--accent-color);
  /* background-color: currentColor; */
  /* cursor: pointer;
  border-radius: 50%;
  padding: 5px; */
}
.moon {
  width: 20px;
  height: 20px;
  transition: 0.8s;
  fill: var(--fill-color);
  cursor: pointer;
  /* background-color: var(--form-color); */
  /* order-radius: 50%; b */
  /* padding: 5px; */
}

.header {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .header {
    margin-left: 30px;
  }
}

@media (min-width: 1280px) {
  .header {
    margin-left: 20px;
  }
}
