.questionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 280px;
  /* height: 456px; */
  background: var(--form-color);

  box-shadow: 0px 4px 15px rgba(2, 23, 42, 0.1);
  padding-top: 40px;
}
.btnQuestions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.02em;

  color: var(--main-text);
  width: 55px;
  height: 34px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--form-color);
}
.btnQuestions:hover,
.btnQuestions:focus {
  background-color: var(--accent-color);
  color: var(--form-color);
  fill: var(--form-color);
}

Link {
  text-decoration: none;
  cursor: none;
  color: var(--main-text);
}
.testFooter {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  margin-top: 20px;
  margin-bottom: 107px;
}
.arrowBack {
  transform: rotate(180deg);
}

.numberQuestion {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;

  text-align: center;

  letter-spacing: 0.02em;

  color: var(--secondary-color);
}

.active {
  color: var(--accent-color);
}
button:disabled {
  background-color: var(--secondary-text);
}
button:disabled:hover {
  background-color: var(--secondary-text);
  color: var(--main-text);
}

@media (min-width: 768px) {
  .questionContainer {
    width: 704px;
  }
  .testFooter {
    width: 704px;
  }
  .btnQuestions {
    font-family: 'Montserrat Medium';
    font-size: 12px;
    line-height: 14px;
    width: 210px;

    padding-left: 20px;
    padding-right: 20px;
  }
  .numberQuestion {
    text-transform: none;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (min-width: 1280px) {
  .questionContainer {
    width: 821px;
  }
  .testFooter {
    width: 821px;
  }
}
